In [149]:
#Needed packages
import io, os
import pandas as pd
import glob as gb
from minio import Minio
from io import BytesIO

In [ ]:
#All dataset sheets in the 'Followers.xlsx' file
visitorMetrics = pd.read_excel("data/original/Visitors.xlsx", sheet_name="Visitor metrics")
visitorMetrics.to_csv("data/created/visitorMetrics.csv", index=False)

In [168]:
#Our current dir
os.listdir()

['industry.csv',
 'newFollowers.csv',
 'seniority.csv',
 'jobFunction.csv',
 'location.csv',
 '.ipynb_checkpoints',
 'companySize.csv']

In [ ]:
#Lets change the dir
os.chdir('data')

In [173]:
#Lets save all files in variable for more easy way to access
files = [file for file in os.listdir()]

In [174]:
#Merging data into one file
dataset =  pd.concat(map(pd.read_csv, files), ignore_index=True)

In [184]:
#Dataset before droping columns
dataset.head(10)

,Industry,Total followers,Date,Sponsored followers,Organic followers,Seniority,Job function,Location,Company size
0,Information Technology and Services,1025.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Financial Services,285.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Accounting,223.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Computer Software,379.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Higher Education,156.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Banking,140.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Management Consulting,135.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Education Management,130.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Internet,106.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Oil & Energy,101.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [177]:
#Droping uneeded columns
dataset.drop(['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5'], axis=1, inplace=True)

In [179]:
#Dataset after droping columns
dataset.head(10)

,Industry,Total followers,Date,Sponsored followers,Organic followers,Seniority,Job function,Location,Company size
0,Information Technology and Services,1025.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Financial Services,285.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Accounting,223.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Computer Software,379.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Higher Education,156.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Banking,140.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Management Consulting,135.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Education Management,130.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Internet,106.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Oil & Energy,101.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [180]:
dataset.columns

Index(['Industry', 'Total followers', 'Date', 'Sponsored followers',
       'Organic followers', 'Seniority', 'Job function', 'Location',
       'Company size'],
      dtype='object')

In [181]:
#Establishing connection with minio
client =  Minio('minio:9000', access_key="admin", secret_key="Zaak@1101", secure=False)

In [182]:
#Checking if the bucket exist
#or it will create new one
bucketName = "data-bucket"
if client.bucket_exists(bucketName):
    print(f"{bucketName} exists")
else:
    client.make_bucket(bucketName, "us-west-0")
    print(f"{bucketName} have been created!!")

data-bucket exists

In [183]:
#Uploading files to minio bucket
fileName = "followersDataset"
dataBucket = dataset.to_csv().encode('utf-8')
try:
    client.put_object(
    bucketName,
    "data/followersDataset.csv",
    data=BytesIO(dataBucket),
    length=len(dataBucket),
    content_type='application/csv'
    )
    print(f"{fileName} have been created!")
except:
    print(f"Couldn't create {fileName}")

followersDataset have been created!