In [149]:
#Needed packages
import io, os
import pandas as pd
import glob as gb
from minio import Minio
from io import BytesIO

In [ ]:
#All dataset sheets in the 'Followers.xlsx' file
visitorMetrics = pd.read_excel("data/original/Visitors.xlsx", sheet_name="Visitor metrics")
visitorMetrics.to_csv("data/created/visitorMetrics.csv", index=False)

In [155]:
#Our current dir
os.listdir()

['visitorsCompanySize.csv',
 'updateMetrics.csv',
 'industry.csv',
 'visitorsJobFuncton.csv',
 'newFollowers.csv',
 'seniority.csv',
 'jobFunction.csv',
 'visitorsIndustry.csv',
 'location.csv',
 'visitorsLocation.csv',
 'companySize.csv',
 'updateEngagement.csv',
 'visitorMetrics.csv',
 'visitorsSeniority.csv']

In [ ]:
#Lets change the dir
os.chdir('data')

In [156]:
#Lets save all files in variable for more easy way to access
files = [file for file in os.listdir()]

In [157]:
#Merging data into one file
dataset =  pd.concat(map(pd.read_csv, files), ignore_index=True)

In [158]:
#Dataset before droping columns
dataset.head()

,Unnamed: 0,Company size,Total views,Date,Impressions (total),Unique impressions (organic),Clicks (total),Reactions (total),Comments (total),Shares (total),...,Jobs page views (total),Jobs unique visitors (desktop),Jobs unique visitors (mobile),Jobs unique visitors (total),Total page views (desktop),Total page views (mobile),Total page views (total),Total unique visitors (desktop),Total unique visitors (mobile),Total unique visitors (total)
0,0.0,1,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,2-10,2768.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.0,11-50,2402.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.0,51-200,2146.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4.0,201-500,1417.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [159]:
#Droping uneeded columns
dataset.drop(['Unnamed: 0', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5'], axis=1, inplace=True)

In [160]:
#Dataset after droping columns
dataset.head()

,Company size,Total views,Date,Impressions (total),Unique impressions (organic),Clicks (total),Reactions (total),Comments (total),Shares (total),Engagement rate (total),...,Jobs page views (total),Jobs unique visitors (desktop),Jobs unique visitors (mobile),Jobs unique visitors (total),Total page views (desktop),Total page views (mobile),Total page views (total),Total unique visitors (desktop),Total unique visitors (mobile),Total unique visitors (total)
0,1,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2-10,2768.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,11-50,2402.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,51-200,2146.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,201-500,1417.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [161]:
dataset.columns

Index(['Company size', 'Total views', 'Date', 'Impressions (total)',
       'Unique impressions (organic)', 'Clicks (total)', 'Reactions (total)',
       'Comments (total)', 'Shares (total)', 'Engagement rate (total)',
       'Industry', 'Total followers', 'Job function', 'Sponsored followers',
       'Organic followers', 'Seniority', 'Location', 'Update title',
       'Update type', 'Created date', 'Audience', 'Impressions', 'Clicks',
       'Click through rate (CTR)', 'Likes', 'Comments', 'Shares',
       'Engagement rate', 'Content Type', 'Overview page views (desktop)',
       'Overview page views (mobile)', 'Overview page views (total)',
       'Overview unique visitors (desktop)',
       'Overview unique visitors (mobile)', 'Overview unique visitors (total)',
       'Jobs page views (desktop)', 'Jobs page views (mobile)',
       'Jobs page views (total)', 'Jobs unique visitors (desktop)',
       'Jobs unique visitors (mobile)', 'Jobs unique visitors (total)',
       'Total page views (desktop)', 'Total page views (mobile)',
       'Total page views (total)', 'Total unique visitors (desktop)',
       'Total unique visitors (mobile)', 'Total unique visitors (total)'],
      dtype='object')

In [162]:
#Establishing connection with minio
client =  Minio('minio:9000', access_key="admin", secret_key="Zaak@1101", secure=False)

In [163]:
#Checking if the bucket exist
#or it will create new one
bucketName = "data-bucket"
if client.bucket_exists(bucketName):
    print(f"{bucketName} exists")
else:
    client.make_bucket(bucketName, "us-west-0")
    print(f"{bucketName} have been created!!")

data-bucket exists

In [164]:
#Uploading files to minio bucket
fileName = "fullDataset"
dataBucket = dataset.to_csv().encode('utf-8')
try:
    client.put_object(
    bucketName,
    "data/fullDataset.csv",
    data=BytesIO(dataBucket),
    length=len(dataBucket),
    content_type='application/csv'
    )
    print(f"{fileName} have been created!")
except:
    print(f"Couldn't create {fileName}")

fullDataset have been created!